{% extends 'base.html.twig' %}
{% form_theme form with _self %}

{% block title %}Modification du MDP{% endblock %}
{% block body %}


	<br><br>

	<h1 class="text-center">Modification du Mot de passe</h1><br>

		<div class="col-8 m-auto">
		{{ form_start (form) }}	
		<br>
			
		{{ form_row (form.oldPassword, {'label':false, 'attr': {'placeholder': "Entrer votre ancien mdp"}}) }}<br>
		{{ form_row (form.newPassword, {'label':false, 'attr': {'placeholder': "Entrer le nouveau mdp"}}) }}<br>	
		{{ form_row (form.confirmNewPassword, {'label':false, 'attr': {'placeholder': "Confirmez votre mdp"}}) }}<br>	
		
	
		<div class="text-center">
		<button type="submit" class="btn btn-danger">Modif</button>
		</div>
		</div>
		{{ form_end (form) }}
		
{% endblock %}